<ngx-smart-modal
    #modal
    identifier="MessageEditor"
>
    <div class="header-modal">

        <span>{{editMode ? "Edit Message" : "Add Message"}}</span>
    </div>

    <form
            *ngIf="form; else loader"
            [formGroup]="form"
            class="mt-3 mb-1"
    >
        <div class="form-group form-group-margin col-12">

            <label
                for="text"
                class="labels-font mr-1 mr-md-0"
            >
                Message Text
            </label>

            <textarea
                class="form-control"
                id="text"
                formControlName="text"
            >
            </textarea>

            <p
                    *ngIf="controlHasError('text', 'required', form)"
                    class="color-danger"
            >
                Field is required
            </p>
        </div>

        <div class="form-group form-group-margin col-12">

            <label
                for="text"
                class="labels-font mr-1 mr-md-0"
            >
                Group

                <button
                        class="btn-accept btn-sm text-center"
                        (click)="onEditGroups()"
                >
                    Manage groups
                </button>
            </label>

            <select
                    class="form-control"
                    formControlName="group"
                    id="group"
            >
                <option></option>

                <option
                    *ngFor="let group of groups"
                    [ngValue]="group.id"
                >
                    {{group.name}}
                </option>
            </select>

            <p
                    *ngIf="controlHasError('group', 'required', form)"
                    class="color-danger"
            >
                Field is required
            </p>
        </div>

        <div class="container d-flex justify-content-center mt-3 mb-3">

            <div class="d-flex justify-content-center">

                <button
                        class="btn-accept text-center"
                        (click)="onSave()"
                >
                    <span>Save</span>
                </button>
            </div>
        </div>
    </form>

    <ng-template #loader>

        <clmr-segment-loader>
        </clmr-segment-loader>
    </ng-template>

</ngx-smart-modal>

<clmr-message-groups-editor
    (modalReady)="onGroupsEditorReady($event)"
    (modalClose)="onGroupsEditorClosed()"
>
</clmr-message-groups-editor>
