<div
        class="main-wrap"
>
    <div class="left-wrap">
        <div class="channel">
            Channel: {{getChannelName(timer.channel_id)}}
        </div>

        <div class="messages"
        >
            Messages: {{messages}}
        </div>

        <div class="frequence"
        >
            Frequency: once per {{timer.frequency}} minute(s)
        </div>
    </div>

    <div class="top-controls">

        <div
                class="delete-control"
                (click)="onDelete($event)"
                title="Delete"
        >
            <i class="fas fa-trash-alt"></i>
        </div>
    </div>
</div>
