@import "../../../../../assets/styles/variables";

.main-wrap {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    position: relative;

    .left-wrap {
        display: flex;
        flex-direction: column;
        margin-right: 15px;
    }

    .group {
        margin-bottom: 5px;
    }

    .top-controls {
        position: absolute;
        display: flex;
        top: 8px;
        right: 5px;

        div {
            font-size: 12px;
            cursor: pointer;
            margin-right: 7px;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}
