<div class="main-wrap">

    <div class="top-wrap">
        <div

            class="add-wrap"
        >
            <span
                *ngIf="timerCanBeAdded"
                (click)="onAddNew()"
            >
                <span class="add-icon">
                    <i class="fas fa-plus"></i>
                </span>

                Add Timer
            </span>
        </div>

        <div class="actions-wrap">

            <div
                    class="reload-wrap action"
                    [class.disabled]="loading"
                    (click)="onReload()"
            >
                <i class="fas fa-sync-alt"></i>
            </div>
        </div>

        <div class="tab-title">
            Timers
        </div>
    </div>

    <div class="separator"></div>

    <div
            *ngIf="!loading; else loader"
            class="timers-wrap"
    >

        <div
                *ngFor="let timer of timers"
                class="timer"
        >
            <clmr-timer
                [timer]="timer"
                [channels]="channels"
                (delete)="onDelete(timer)"
            >
            </clmr-timer>

            <div class="separator"></div>
        </div>
    </div>

    <ng-template #loader>
        <clmr-segment-loader>
        </clmr-segment-loader>
    </ng-template>
</div>

<clmr-timer-editor
    [selectedChannel]="selectedChannel"
    [selectedMessages]="selectedMessages"
    (modalReady)="onEditorReady($event)"
    (saved)="onReload()"
>
</clmr-timer-editor>
