<div class="main-wrap">

    <div class="channels-wrap">
        <clmr-channels-bar>
        </clmr-channels-bar>
    </div>

    <div class="messages-wrap">
        <clmr-messages-bar>
        </clmr-messages-bar>
    </div>

    <div class="timers-wrap">
        <clmr-timers-bar>
        </clmr-timers-bar>
    </div>
</div>
