:host {
    display: flex;
    height: 100%;
}

.main-wrap {
    display: flex;
    padding: 20px;
}

.channels-wrap {
    height: 100%;
    width: calc(30vw - 25px);
    margin-right: 20px;
    min-width: 150px;
}

.messages-wrap {
    height: 100%;
    width: calc(40vw - 30px);
    margin-right: 20px;
    min-width: 200px;
}

.timers-wrap {
    height: 100%;
    width: calc(30vw - 25px);
    min-width: 150px;
}
