@import "../../../../../assets/styles/variables";

.main-wrap {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;

    &:hover {
        background: $background-primary-hover;
    }

    &.selected {
        background: $background-primary;
    }

    .name {
        margin-bottom: 5px;
    }

    .live-indicator {
        background: $font-color-warning;
        height: 10px;
        width: 10px;
        border-radius: 100%;
        top: 15px;
        right: 20px;
        position: absolute;
        cursor: help;
    }

    .delete-control {
        font-size: 14px;
        bottom: 6px;
        right: 10px;
        position: absolute;

        &:hover {
            opacity: 0.8;
        }
    }
}
