<div
    class="main-wrap"
    [class.selected]="selected"
>

    <div class="name">
        <a
            [href]="channel.link"
            target="_blank"
        >
            {{channel.name}}
        </a>
    </div>

    <div class="title">
        {{channel.streamTitle}}
    </div>

    <span
        *ngIf="channel.live"
        title="LIVE"
        class="live-indicator"
    ></span>

    <span
        class="delete-control"
        (click)="onDelete($event)"
    >
        <i class="far fa-trash-alt"></i>
    </span>
</div>
