@import "../../../../assets/styles/variables";

.main-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: $background-alt;

    .top-wrap {
        height: 55px;
        padding: 10px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .add-wrap {
            cursor: pointer;
            font-size: 16px;

            .add-icon {
                font-size: 14px;
            }

            &:hover {
                opacity: 0.8;
            }
        }

        .reload-wrap {
            font-size: 16px;
            cursor: pointer;

            &.disabled {
                opacity: 0.6;
                pointer-events: none;
            }

            &:hover {
                opacity: 0.8;
            }
        }
    }

    clmr-channel {
        margin-bottom: 10px;
    }
}

.channels-wrap {
    overflow-y: auto;
}

