<div class="main-wrap">

    <div class="top-wrap">
        <div
            class="add-wrap"
            (click)="onAddNew()"
        >
            <span class="add-icon">
                <i class="fas fa-plus"></i>
            </span>

            Add Channel
        </div>

        <div
            class="reload-wrap"
            [class.disabled]="loading"
            (click)="onReload()"
        >
            <i class="fas fa-sync-alt"></i>
        </div>

        <div class="tab-title">
            Channels
        </div>
    </div>

    <div class="separator"></div>

    <div
        *ngIf="!loading; else loader"
        class="channels-wrap"
    >

        <div
            *ngFor="let channel of channels"
            class="channel"
        >

            <clmr-channel
                    [channel]="channel"
                    [selected]="selectedChannel === channel.id"
                    (click)="onClick(channel)"
                    (delete)="onDelete(channel)"
            >
            </clmr-channel>

            <div class="separator"></div>
        </div>
    </div>

    <ng-template #loader>
        <clmr-segment-loader>
        </clmr-segment-loader>
    </ng-template>
</div>

<clmr-channel-editor
    (modalReady)="onEditorReady($event)"
    (saved)="onReload()"
>
</clmr-channel-editor>
