<div class="main-wrap">

    <div class="top-wrap">
        <div
                class="add-wrap"
                (click)="onAddNew()"
        >
            <span class="add-icon">
                <i class="fas fa-plus"></i>
            </span>

            Add Message
        </div>

        <div class="actions-wrap">

            <div
                    class="edit-groups action"
                    title="Edit Groups"
                    [class.disabled]="loading"
                    (click)="onEditGroups()"
            >
                <i class="far fa-edit"></i>
            </div>

            <div class="select-actions">

                <div
                    class="select-all action"
                    title="Select All"
                    [class.disabled]="loading"
                    (click)="onSelectAll()"
                >
                    <i class="far fa-check-square"></i>
                </div>

                <div
                    class="unselect-all action"
                    title="Unselect All"
                    [class.disabled]="loading"
                    (click)="onUnselectAll()"
                >
                    <i class="far fa-minus-square"></i>
                </div>
            </div>

            <div
                    class="reload-wrap action"
                    [class.disabled]="loading"
                    (click)="onReload()"
            >
                <i class="fas fa-sync-alt"></i>
            </div>
        </div>

        <div class="tab-title">
            Messages
        </div>
    </div>

    <div class="separator"></div>

    <div
            *ngIf="!loading; else loader"
            class="messages-wrap"
    >

        <div
                *ngFor="let message of messages"
                class="message"
        >
            <clmr-message
                [message]="message"
                [selected]="selectedMessagesIds.includes(message.id)"
                (delete)="onDelete(message)"
                (edit)="onEdit(message)"
                (select)="onClick(message.id)"
            >
            </clmr-message>

            <div class="separator"></div>
        </div>
    </div>

    <ng-template #loader>
        <clmr-segment-loader>
        </clmr-segment-loader>
    </ng-template>

    <clmr-message-editor
        (modalReady)="onEditorReady($event)"
        (updated)="onReload()"
    >
    </clmr-message-editor>

    <clmr-message-groups-editor
        (modalReady)="onGroupsEditorReady($event)"
    >
    </clmr-message-groups-editor>
</div>
