@import "../../../../assets/styles/variables";

.main-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: $background-alt;

    .top-wrap {
        height: 55px;
        padding: 10px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .add-wrap {
            cursor: pointer;
            font-size: 16px;

            .add-icon {
                font-size: 14px;
            }

            &:hover {
                opacity: 0.8;
            }
        }

        .actions-wrap {
            display: flex;

            .edit-groups {
                margin-right: 20px;
            }

            .select-actions {
                margin-right: 10px;
                display: flex;

                .action {
                    font-size: 18px;
                    margin-right: 10px;
                }
            }

            .action {
                font-size: 16px;
                cursor: pointer;

                &.disabled {
                    opacity: 0.6;
                    pointer-events: none;
                }

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

.messages-wrap {
    overflow-y: auto;
}
