<div
    class="main-wrap"
    (click)="onSelect()"
>
    <div class="left-wrap">
        <div class="group">
            {{message.id}} | {{message.group}}
        </div>

        <div class="text"
            [innerHTML]="message.text | sanitizeHtml"
        >
        </div>
    </div>

    <div class="right-wrap">
        <span
            class="checkbox"
        >
            <mat-checkbox
                [ngModel]="selected"
                color="primary"
            >
            </mat-checkbox>
        </span>
    </div>

    <div class="top-controls">
        <div
            class="edit-control"
            (click)="onEdit($event)"
            title="Edit"
        >
            <i class="fas fa-edit"></i>
        </div>

        <div
            class="delete-control"
            (click)="onDelete($event)"
            title="Delete"
        >
            <i class="fas fa-trash-alt"></i>
        </div>
    </div>


</div>
