.main-wrap {
    padding: 0 15px;

    .group {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    .controls-wrap {
        font-size: 14px;
        display: flex;

        div {
            margin-right: 5px;
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}
