<ngx-smart-modal
    #modal
    identifier="MessageGroupsEditor"
    (onClose)="onClose()"
>
    <div class="header-modal">

        <span>Edit Groups</span>
    </div>

    <div
        *ngIf="!loading; else loader"
        class="main-wrap mt-3 mb-1"
    >
        <div
            *ngFor="let group of groups"
            class="group"
        >
            {{group.name}}

            <div class="controls-wrap">
                <div
                        class="edit-control"
                        (click)="onEdit(group)"
                        title="Edit"
                >
                    <i class="fas fa-edit"></i>
                </div>

                <div
                        class="delete-control"
                        (click)="onDelete(group)"
                        title="Delete"
                >
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div>
        </div>

        <div class="d-flex mt-3 mb-1">

            <div class="d-flex">

                <button
                        class="btn-accept text-center"
                        (click)="onAddNew()"
                >
                    <span>+ Add new</span>
                </button>
            </div>
        </div>
    </div>

    <ng-template #loader>

        <clmr-segment-loader>
        </clmr-segment-loader>
    </ng-template>

</ngx-smart-modal>

<clmr-message-group-editor
        (modalReady)="onEditorReady($event)"
        (groupSaved)="onReload()"
>
</clmr-message-group-editor>

