<ngx-smart-modal
    #modal
    identifier="ChannelEditor"
>
    <div class="header-modal">

        <span>Add Channel</span>
    </div>

    <form
            *ngIf="form; else loader"
            [formGroup]="form"
            class="mt-3 mb-1"
    >
        <div class="form-group form-group-margin col-12">

            <label
                    for="link"
                    class="labels-font mr-1 mr-md-0"
            >
                URL
            </label>

            <input
                    type="text"
                    class="form-control"
                    id="link"
                    formControlName="link"
            >

            <p
                    *ngIf="controlHasError('link', 'required', form)"
                    class="color-danger"
            >
                URL is required
            </p>
        </div>

        <div class="container d-flex justify-content-center mt-3 mb-3">

            <div class="d-flex justify-content-center">

                <button
                        class="btn-accept text-center"
                        (click)="onSave()"
                >
                    <span>Save</span>
                </button>
            </div>
        </div>
    </form>

    <ng-template #loader>

        <clmr-segment-loader>
        </clmr-segment-loader>
    </ng-template>

</ngx-smart-modal>
