
$background-main: rgb(69, 73, 82);
$background-alt: rgb(35, 37, 42);
$background-warning: rgb(46, 35, 34);
$background-primary: linear-gradient(to right, rgb(44, 39, 57), rgb(39, 34, 50));;
$background-primary-hover: linear-gradient(to right, rgb(48, 47, 55), rgb(41, 40, 47));;

$font-color: rgb(204, 204, 204);
$font-color-dark: rgb(54, 54, 54);
$font-color-white: rgb(255, 255, 255);
$font-color-warning: rgb(232, 86, 83);

$primary-color: rgb(94, 69, 158);
$secondary-color: rgb(255, 248, 83);

$title-font-family: Anton;
