@import '~@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-deep-purple);
$app-accent:  mat-palette($mat-yellow);

$app-theme: mat-light-theme($app-primary, $app-accent);

@include angular-material-theme($app-theme);
