@import "variables";
@import "mat-theme";
@import "node_modules/ngx-smart-modal/ngx-smart-modal";

html {
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: $font-color;
    background-color: $background-main;
}

a {
    text-decoration: none;
    color: $primary-color;

    &:hover {
        opacity: 0.8;
    }
}

.separator {
    width: 100%;
    height: 1px;
    background: $background-main;
}

.tab-title {
    position: absolute;
    pointer-events: none;
    font-size: 30px;
    color: $secondary-color;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $title-font-family;
}

input {
    background: transparent !important;
    border-color: $font-color;
    color: $font-color !important;

    &.ng-touched.ng-invalid {
        border-color: $font-color-warning;
    }
}

textarea {
    background: transparent !important;
    border-color: $font-color;
    color: $font-color !important;

    &.ng-touched.ng-invalid {
        border-color: $font-color-warning;
    }
}

select {
    background: transparent !important;
    border-color: $font-color;
    color: $font-color !important;

    &.ng-touched.ng-invalid {
        border-color: $font-color-warning;
    }
}

.color-danger {
    color: $font-color-warning;
}

// Ngx smart modal styles overwrite

.nsm-content {
    background: $background-alt;
}

.nsm-dialog-btn-close {
    color: $font-color;
}

.header-modal {
    font-family: $title-font-family;
    color: $secondary-color;
    font-size: 30px;
}
